<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.corvettecole.gotosleep">

    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Intro"/>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.Settings"/>

        <receiver
            android:name=".BedtimeNotificationReceiver"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>